<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RN_TemplateNew</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>

	 <key>NSAppleMusicUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSCalendarsUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSCameraUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSContactsUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSFaceIDUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSLocationTemporaryUsageDescriptionDictionary</key>
  <dict>
    <key>YOUR-PURPOSE-KEY</key>
    <string>İzin isteği</string>
  </dict>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSMotionUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSRemindersUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSSiriUsageDescription</key>
  <string>İzin isteği</string>
  <key>NSUserTrackingUsageDescription</key>
  <string>İzin isteği</string>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
	</array>
</dict>
</plist>
